// Various
@mars-default:                      #f3f3f3;
@mars-primary:                      #2980b9;
@mars-secondary:                    #2c3e50;
@mars-success:                      #27ae60;
@mars-danger:                       #e74c3c;
@mars-warning:                      #f39c12;
@mars-info:                         #2980b9;

@mars-primary-contrast:             #ffffff;
@mars-default-contrast:             #222222;
@mars-secondary-contrast:           #ffffff;
@mars-success-contrast:             #ffffff;
@mars-danger-contrast:              #ffffff;
@mars-warning-contrast:             #ffffff;
@mars-info-contrast:                #ffffff;
    
// Typography
@mars-font-family:                  'Roboto', sans-serif;
@mars-font-size-base:               12px;

// Bar
@mars-bar-min-height:               48px;

@mars-bar-default-bg-color:         @mars-default;
@mars-bar-default-text-color:       @mars-default-contrast;

@mars-bar-primary-bg-color:         @mars-primary;
@mars-bar-primary-text-color:       @mars-primary-contrast;

@mars-bar-secondary-bg-color:       @mars-secondary;
@mars-bar-secondary-text-color:     @mars-secondary-contrast;

@mars-bar-success-bg-color:         @mars-success;
@mars-bar-success-text-color:       @mars-success-contrast;

@mars-bar-danger-bg-color:          @mars-danger;
@mars-bar-danger-text-color:        @mars-danger-contrast;

@mars-bar-warning-bg-color:         @mars-warning;
@mars-bar-warning-text-color:       @mars-warning-contrast;

@mars-bar-info-bg-color:            @mars-info;
@mars-bar-info-text-color:          @mars-info-contrast;