.button-toolbar{
    .flex-row();
    .flex-item-no-resize();
    .flex-wrap();
    
    box-sizing: border-box;
    margin-left: -(@whisky-button-toolbar-spacing);
    
    &.button-toolbar-spaced{
        margin: @whisky-button-toolbar-margin-vertical @whisky-button-toolbar-margin-horizontal;
        margin-left: (@whisky-button-toolbar-margin-horizontal - @whisky-button-toolbar-spacing);
    }
    
    & > .button, & > .button-group{
        .flex-item-grow-only();
        margin: 0px 0px 0px @whisky-button-toolbar-spacing;
    }
}