.view{
    .flex-column();
    .flex-item-grow-and-shrink();
    
    &.view-scrollable{
        overflow: auto;
    }
    
    &.view-scrollable-y{
        overflow-y: auto;
    }
    
    &.view-scrollable-x{
        overflow-x: auto;
    }
}